@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #202125;
  font-family: 'Exo 2', sans-serif;

}

header {
  display: grid;
}

.content {
  color: white;
}


.header__top {
  display: grid;
  grid-template-columns: 200px auto auto;
  grid-template-rows: 100px;
  font-size: 32px;
  color: #000;
  background-color: white;
  align-items: center;
  justify-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__bot {
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: solid 1px #666870;
}

.header__nav {
  display: grid;
  grid-template-rows: 100px;
}

.header__bot ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}

.header__bot li {
  list-style-type: none;
}

.header__bot li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  
}

.header__bot li a:hover {
  transition: 0.5s;
  color: #f00;
}

.header__svg {
  height: 43px;
}

.header__addres,
.header__phone {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.header__top a,
.header__phone a {

  text-decoration: none;
  color: #000
}

.header__logo {
  height: 80px;
}

.index__h1 {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: .08em;
  color: #d24741;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero {
  vertical-align: middle;
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  min-height: 830px;
  justify-content: center;
  align-content: center;
  display: grid;
}

.hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 820px;
  background: linear-gradient(360deg, rgba(32,33,37,1) 0%, rgba(0,212,255,0) 40%), url(/img/hero_bg.jpg) 50% 0 no-repeat;
}

.index__BlockWithPic {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.hero__wrap {
  text-align: center;
  display: grid;
}

.index__p {
  max-width: 680px;
  line-height: 1.5em;
  font-size: 18px;
  margin-bottom: 66px;
}

.index__plitka{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px) );
  grid-gap: 50px;

}

.index__PlitkaFirst {
  
  background-image: url(/img/pic.jpg);
}
.index__PlitkaSecond {
  background-image: url(/img/pic.jpg);
}
.index__PlitkaThird {
  background-image: url(/img/pic.jpg);
}
.index__PlitkaFifth {
  background-image: url(/img/pic.jpg);
}

.index__PlitkaFirst, .index__PlitkaSecond, .index__PlitkaThird, .index__PlitkaFifth  {
  height: 400px;
  width: 400px;
  justify-self: center;
}

.sections__wrap {
  display: grid;
  grid-template-columns: repeat(4, 370px);
  justify-self: center;
  grid-gap: 7px;
}

.section:before {
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
}

.section {
  height: 300px;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  position: relative;
  box-shadow: 0 40px 90px 0 rgb(0, 0, 0 / 40%);
  filter: grayscale(100%);
}

.section:hover {
  filter: none;
}

.section:hover:after{
  content: none;
}

.section:after {
  content: "";
  height: 100%;
  top: 0;
  background: rgb(32, 33, 37, .7);
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}

.section__title {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 50px;
  bottom: 46px;
  z-index: 1;
  color: white;
}

.content{
  display: grid;
}

.index__price {
  display: grid;
  width: 1500px;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  justify-self: center;
}

.index__price p{
  font-size: 24px;
  line-height: 28px;
}

.index__PriceList {
  margin-top: 100px;
  display: grid;
}
.index__PriceH {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  margin-bottom: 30px;
}

.index__PriceHRed{
  color: #d24741;
}

.price__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50px;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.price__container .index__PriceRub{
  justify-self: end;
}

.index__price div:nth-child(2n+1) {
  background: #36373b;
}

.track__title {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  margin-top: 60px;
}

.track__description{
  margin-top: 30px;
  display: grid;
  justify-items: center;
}

.track__description img{
  width: auto;
  max-height: 600px;
  border-radius: 5px;
}

.track__description p{
  font-size: 18px;
  margin-top: 20px;
  max-width: 1000px;
  text-align: center;
}

.track__description a{
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.track__description a:hover{
  color: #d24741;
  border: 1px solid #d24741;
  transition: 0.5s;
}

.title {
  color: #d24741;
  font-size: 25px;  
}

.school {
  display: grid;
}

.page__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.school__info {
  width: 1500px;
  margin: 0 auto;
}

.info__title {
  color: #d24741;
  font-size: 25px;
}

.school__pluses {
  width: 1500px;
  margin: 0 auto;
}

.pluses__title {
  width: 1500px;
  margin: 0 auto;
}

.pluses__info {
  width: 1500px;
  margin: 0 auto;
}

.school__dates {
  width: 1500px;
  margin: 0 auto;
}

.dates__title {
  width: 1500px;
  margin: 0 auto;
}

.dates__text {
  width: 1500px;
  margin: 0 auto;
}

footer{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #66687050;
}

.fa {
  padding: 20px;
  font-size: 50px!important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-vk, .fa-instagram{
  color: white;
  width: 100px;
}

.fa-vk:hover, .fa-instagram:hover{
  transition: 0.5s;
  color: #d24741;
}

.sections__container{
  display: grid;
}

.Modal__form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 550px;
  justify-self: center;
  grid-template-rows: 60px 60px 50px;
  grid-gap: 20px;
}

.Modal__p{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.Modal__inputs {
  background-color: #36373b;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.modal-btn {
  border: none;
  color: #fff;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 5px;
  text-decoration: none;
  background-image: linear-gradient( to right, #d24741, #e14e53, #e2373f );
}

.cross:hover{
  color: #f00;
  transition: 0.5s;
}

.trace{
  display: grid;
}
.trace__gallery{
  display: grid;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

}
.trace__pic{
  
  display: grid;
}

.trace__pic{
  width: 700px;
  height: 525px;
}

@media only screen and (max-width: 1023px) {
  .sections__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media only screen and (max-width: 1470px) {
  .trace__gallery {
    grid-template-columns: 1fr;
  }
}








































































































































































.modal-fader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

.modal-fader.active {
  display: grid;
}

.modal-window {
  display: none;
  position: fixed;
  z-index: 2;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  top: 150px;
}

.modal-window.active {
  color: White;
  display: grid;
  width: 600px;
  height: 400px;
  grid-template-rows: 20px 20px;
  grid-gap: 30px;
  background-color: #202125;
}

.Modal__accept{
  color: #FFF;
  opacity: 50%;
  margin-top: -20px;
  text-decoration: none;

}

.cross {
  width: 20px;
}

.modal-window__cross {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: center;
}

.modal-window h1,
.modal-window h2,
.modal-window h3,
.modal-window h4,
.modal-window h5,
.modal-window h6 {
  margin: 0;
  font-size: 32px;
  padding-left: 20px;
}


.bn632-hover {
  width: 160px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient( to right, #d24741, #e14e53, #e2373f );
}

.bn632-hover:hover{
  border: solid 1px white;
}
