@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #202125;
  font-family: 'Open Sans', sans-serif;
  
}

header {
  display: grid;
}


.header__top {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 100px;
  grid-template-rows: 100px;
  font-size: 32px;
  color: #666870;
  background-color: white;
  align-items: center;
  justify-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__bot{
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: solid 1px #666870;
}

.header__nav {
  display: grid;
  grid-template-rows: 100px;
}

.header__bot ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}

.header__bot li {
  list-style-type: none;
}

.header__bot li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.header__bot li a:hover {
  transition: 0.5s;
  color: #f00;
}

.header__svg {
  height: 43px;
}

.header__addres,
.header__phone {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.header__top a,
.header__phone a {
  
  text-decoration: none;
  color: #666870
}

.header__logo {
  height: 80px;
}

.hero ::before{
  background: url(/img/hero_bg.jpg);
}